*.py[cod]
*.so
*.so
*.egg
*.egg-info
dist
build
testing
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txt
.coverage
.tox
*.mo
*statics.py[c]
*counter.py[c]
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
v3n0m-*
