[Desktop Entry]
Name=v3n0m
Icon=/usr/share/icons/v3n0m.ico
Comment=Offensive Security Tool for Vulnerability Scanning & Pentesting
Exec=/usr/bin/v3n0m
Terminal=true
Type=Application
Categories=X-BlackArch-Exploitation;
