name: CI

on:
  push:
    branches: [ master ]  
  pull_request:
    branches: [ patch-* ]
  schedule: 
    - cron: '19 20 * * 0'
    
jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
    - uses: actions/checkout@v2
   
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    -
      name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        builder: ${{ steps.buildx.outputs.name }}
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/venom:latest
        cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/venom:buildcache
        cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/venom:buildcache,mode=max
